@using PlaylistManager.Models;

<h1>Search Results</h1>

@if (Model.GetType() == typeof(List<Song>))
{
    @if (Model.Count == 0)
    {
        <h3>No songs match the search term.</h3>
    }

    <ul>
        @foreach (Song song in Model)
        {
            <li>@Html.ActionLink($"{song.Name}", "Details", "Songs", new { id = song.SongId }) | @song.Artist</li>
        }
    </ul>
}
else
{
    @if (Model.Count == 0)
    {
        <h3>No playlists match the search term.</h3>
    }

    <ul>
        @foreach (Playlist playlist in Model)
        {
            <li>@Html.ActionLink($"{playlist.Name}", "Details", "Playlists", new { id = playlist.PlaylistId })</li>
        }
    </ul>
}

<button class="button">@Html.ActionLink("Home", "Index", "Home")</button>