<h3>Welcome to your state-of-the-art playlist manager</h3>

<p>@Html.ActionLink("See all Playlists", "Index", "Playlists")</p>
<p>@Html.ActionLink("See all Songs", "Index", "Songs")</p>
<p>@Html.ActionLink("See all Genres", "Index", "Genres")</p>